<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FeedWeasyPrint</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div>
        <div class="container">
            <div class="row mt-3">
                <div class="col">
                    <h4 class="text-center">Welcome to Weasy Print Deminstration</h4>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row mt-5">
            <div class="col text-center"><a class="btn btn-primary btn-lg text-center border rounded-pill" role="button" href="#">Button</a></div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>