{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Minutes of Meeting</title>
{#    <link rel="stylesheet" href="bootstrap.min.css">#}
{#    <link rel="stylesheet" href="styles.css">#}
    <style>
        @page {
            size: A4 landscape;
            margin: 1cm 1cm 1cm 1cm;
            @bottom-right {
                content: "Page" counter(page) " of " counter(pages);
            }
        }
    </style>
</head>

<body style="font-family: 'Open Sans', sans-serif;">
<!-- Start: Header -->
<section>
    <div>
        <div class="container">
            <div class="row mt-5">
                <div class="col-3"><img src=" {% static '/img/logo/abb_logo.png' %}"></div>
                <div class="col align-self-center">
                    <h1 class="text-center" id="judul">Minutes of Meeting BOD&nbsp;</h1>
                </div>
            </div>
        </div>
    </div>
</section><!-- End: Header -->
<!-- Start: Venue & Participant -->
<section>
    <div>
        <div class="container">
            <div class="row mt-2" style="border-width: 2px;border-style: solid;">
                <div class="col mt-3" style="border-style: none;">
                    <div class="table-responsive mb-2">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Date/Time</td>
                                <td>{{ venue.tanggal|date:"M d, Y" }} / {{ venue.waktu|time:"G:i A" }}</td>
{#                                <td>{{ venue.tanggal|date:"l, d F Y" }} / {{ venue.waktu|time:"G:i A" }}</td>#}
                            </tr>
                            <tr>
                                <td>Notulen</td>
                                <td>{{ venue.notulen }}</td>
                            </tr>
                            <tr>
                                <td>Location</td>
                                <td>{{ venue.location }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col mt-3">
                    <h6>Participants</h6>
                    <div class="row">
                        {% if participants %}
                            {% for participant in participants %}
                                <div class="col">
                                    <h6 id="participant">{{ participant.name }}</h6>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End: Venue & Participant -->
<section>
    <div>
        <div class="container">
            <div class="table-responsive mt-2">
                <table class="table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Department</th>
                        <th>Problem Owner</th>
                        <th>Topic</th>
                        <th>Problem</th>
                        <th>Action</th>
                        <th>Due Date</th>
                        <th>PIC</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if topiks %}
                        {% for topik in topiks %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ topik.dept }}</td>
                                <td>{{ topik.owner }}</td>
                                <td>{{ topik.topik }}</td>
                                <td>{{ topik.problem }}</td>
                                <td>{{ topik.action }}</td>
                                <td>{{ topik.due_date|date:"l, d M Y" }}</td>
                                <td>{{ topik.pic }}</td>
                                <td>{{ topik.status }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{#<script src="bootstrap.min.js"></script>#}
</body>

</html>